{% extends 'base.html' %}
{% block title %}درباره ما {% endblock title %}
{% block content %}
    <div class="container">
        <div class="bg-white mt-4 p-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non laboriosam pariatur minus, quos minima cupiditate tenetur eius assumenda veniam sint iste distinctio harum consequatur eligendi voluptas itaque, illum dolorum ad!</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse consequuntur eligendi quia alias, illum a porro, nemo labore dolores aspernatur pariatur vel, sit ipsam culpa unde numquam quae reprehenderit quaerat.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non laboriosam pariatur minus, quos minima cupiditate tenetur eius assumenda veniam sint iste distinctio harum consequatur eligendi voluptas itaque, illum dolorum ad!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non laboriosam pariatur minus, quos minima cupiditate tenetur eius assumenda veniam sint iste distinctio harum consequatur eligendi voluptas itaque, illum dolorum ad!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non laboriosam pariatur minus, quos minima cupiditate tenetur eius assumenda veniam sint iste distinctio harum consequatur eligendi voluptas itaque, illum dolorum ad!</p>
        </div>
    </div>
   
{% endblock content %}